openapi: 3.0.1
info:
  title: Provides a container compatible interface.
  description: |-
    This documentation describes the Podman v2.0 RESTful API.
    It replaces the Podman v1.0 API and was initially delivered
    along with Podman v2.0.  It consists of a Docker-compatible
    API and a Libpod API providing support for Podman’s unique
    features such as pods.

    To start the service and keep it running for 5,000 seconds (-t 0 runs forever):

    podman system service -t 5000 &

    You can then use cURL on the socket using requests documented below.

    NOTE: if you install the package podman-docker, it will create a symbolic
    link for /var/run/docker.sock to /run/podman/podman.sock

    See podman-service(1) for more information.

    Quick Examples:

    'podman info'

    curl --unix-socket /run/podman/podman.sock http://d/v1.0.0/libpod/info

    'podman pull quay.io/containers/podman'

    curl -XPOST --unix-socket /run/podman/podman.sock -v 'http://d/v1.0.0/images/create?fromImage=quay.io%2Fcontainers%2Fpodman'

    'podman list images'

    curl --unix-socket /run/podman/podman.sock -v 'http://d/v1.0.0/libpod/images/json' | jq
  contact:
    name: Podman
    url: https://podman.io/community/
    email: podman@lists.podman.io
  license:
    name: Apache-2.0
    url: https://opensource.org/licenses/Apache-2.0
  version: 0.0.1
  x-logo:
  - url: https://raw.githubusercontent.com/containers/libpod/master/logo/podman-logo.png
  - altText: Podman logo
servers:
- url: http://podman.io/
- url: https://podman.io/
tags:
- name: containers
  description: Actions related to containers
- name: exec
  description: Actions related to exec
- name: images
  description: Actions related to images
- name: manifests
  description: Actions related to manifests
- name: networks
  description: Actions related to networks
- name: pods
  description: Actions related to pods
- name: volumes
  description: Actions related to volumes
- name: system
  description: Actions related to Podman engine
- name: containers (compat)
  description: Actions related to containers for the compatibility endpoints
- name: exec (compat)
  description: Actions related to exec for the compatibility endpoints
- name: images (compat)
  description: Actions related to images for the compatibility endpoints
- name: networks (compat)
  description: Actions related to compatibility networks
- name: volumes (compat)
  description: Actions related to volumes for the compatibility endpoints
- name: system (compat)
  description: Actions related to Podman and compatibility engines
paths:
  /build:
    post:
      tags:
      - images (compat)
      summary: Create image
      description: Build an image from the given Dockerfile(s)
      operationId: buildImage
      parameters:
      - name: dockerfile
        in: query
        description: |
          Path within the build context to the `Dockerfile`.
          This is ignored if remote is specified and points to an external `Dockerfile`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: Dockerfile
      - name: t
        in: query
        description: A name and optional tag to apply to the image in the `name:tag`
          format. If you omit the tag the default latest value is assumed. You can
          provide several t parameters.
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: latest
      - name: extrahosts
        in: query
        description: |
          TBD Extra hosts to add to /etc/hosts
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: remote
        in: query
        description: |
          A Git repository URI or HTTP/HTTPS context URI.
          If the URI points to a single text file, the file’s contents are placed
          into a file called Dockerfile and the image is built from that file. If
          the URI points to a tarball, the file is downloaded by the daemon and the
          contents therein used as the context for the build. If the URI points to a
          tarball and the dockerfile parameter is also specified, there must be a file
          with the corresponding path inside the tarball.
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: q
        in: query
        description: |
          Suppress verbose build output
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: nocache
        in: query
        description: |
          Do not use the cache when building the image
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: cachefrom
        in: query
        description: |
          JSON array of images used to build cache resolution
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: pull
        in: query
        description: |
          Attempt to pull the image even if an older image exists locally
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: rm
        in: query
        description: |
          Remove intermediate containers after a successful build
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: forcerm
        in: query
        description: |
          Always remove intermediate containers, even upon failure
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: memory
        in: query
        description: |
          Memory is the upper limit (in bytes) on how much memory running containers can use
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: memswap
        in: query
        description: |
          MemorySwap limits the amount of memory and swap together
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: cpushares
        in: query
        description: |
          CPUShares (relative weight
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: cpusetcpus
        in: query
        description: |
          CPUSetCPUs in which to allow execution (0-3, 0,1)
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: cpuperiod
        in: query
        description: |
          CPUPeriod limits the CPU CFS (Completely Fair Scheduler) period
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: cpuquota
        in: query
        description: |
          CPUQuota limits the CPU CFS (Completely Fair Scheduler) quota
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: buildargs
        in: query
        description: |
          JSON map of string pairs denoting build-time variables.
          For example, the build argument `Foo` with the value of `bar` would be encoded in JSON as `["Foo":"bar"]`.

          For example, buildargs={"Foo":"bar"}.

          Note(s):
          * This should not be used to pass secrets.
          * The value of buildargs should be URI component encoded before being passed to the API.

          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: shmsize
        in: query
        description: |
          ShmSize is the "size" value to use when mounting an shmfs on the container's /dev/shm directory.
          Default is 64MB
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 67108864
      - name: squash
        in: query
        description: |
          Silently ignored.
          Squash the resulting images layers into a single layer
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: labels
        in: query
        description: |
          JSON map of key, value pairs to set as labels on the new image
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: networkmode
        in: query
        description: |
          Sets the networking mode for the run commands during build.
          Supported standard values are:
            * `bridge` limited to containers within a single host, port mapping required for external access
            * `host` no isolation between host and containers on this network
            * `none` disable all networking for this container
            * container:<nameOrID> share networking with given container
            ---All other values are assumed to be a custom network's name
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: bridge
      - name: platform
        in: query
        description: |
          Platform format os[/arch[/variant]]
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: target
        in: query
        description: |
          Target build stage
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: outputs
        in: query
        description: |
          output configuration TBD
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK (As of version 1.xx)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "400":
          description: Bad parameter in request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /commit:
    post:
      tags:
      - containers (compat)
      summary: New Image
      description: Create a new image from a container
      operationId: commitContainer
      parameters:
      - name: container
        in: query
        description: the name or ID of a container
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: repo
        in: query
        description: the repository name for the created image
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: tag
        in: query
        description: tag name for the created image
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: comment
        in: query
        description: commit message
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: author
        in: query
        description: author of the image
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: pause
        in: query
        description: pause the container before committing it
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: changes
        in: query
        description: instructions to apply while committing in Dockerfile format
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "201":
          description: no error
          content: {}
        "404":
          description: No such image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /containers/{name}:
    delete:
      tags:
      - containers (compat)
      summary: Remove a container
      operationId: removeContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: force
        in: query
        description: If the container is running, kill it before removing it.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: v
        in: query
        description: Remove the volumes associated with the container.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: link
        in: query
        description: not supported
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "204":
          description: no error
          content: {}
        "400":
          description: Bad parameter in request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "409":
          description: Conflict error in operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /containers/{name}/archive:
    get:
      tags:
      - containers (compat)
      summary: Get files from a container
      description: Get a tar archive of files from a container
      operationId: getArchive
      parameters:
      - name: name
        in: path
        description: container name or id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: path
        in: query
        description: Path to a directory in the container to extract
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                type: string
                format: binary
                x-content-type: application/json
        "400":
          description: Bad parameter in request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
    put:
      tags:
      - containers (compat)
      summary: Put files into a container
      description: Put a tar archive of files into a container
      operationId: putArchive
      parameters:
      - name: name
        in: path
        description: container name or id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: path
        in: query
        description: Path to a directory in the container to extract
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: noOverwriteDirNonDir
        in: query
        description: if unpacking the given content would cause an existing directory
          to be replaced with a non-directory and vice versa (1 or true)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: copyUIDGID
        in: query
        description: copy UID/GID maps to the dest file or di (1 or true)
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        description: tarfile of files to copy into the container
        content:
          application/json:
            schema:
              type: string
          application/x-tar:
            schema:
              type: string
        required: false
      responses:
        "200":
          description: no error
          content: {}
        "400":
          description: Bad parameter in request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "403":
          description: the container rootfs is read-only
          content: {}
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      x-codegen-request-body-name: request
  /containers/{name}/attach:
    post:
      tags:
      - containers (compat)
      summary: Attach to a container
      description: Hijacks the connection to forward the container's standard streams
        to the client.
      operationId: attachContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: detachKeys
        in: query
        description: keys to use for detaching from the container
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: logs
        in: query
        description: Stream all logs from the container across the connection. Happens
          before streaming attach (if requested). At least one of logs or stream must
          be set
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: stream
        in: query
        description: Attach to the container. If unset, and logs is set, only the
          container's logs will be sent. At least one of stream or logs must be set
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: stdout
        in: query
        description: Attach to container STDOUT
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: stderr
        in: query
        description: Attach to container STDERR
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: stdin
        in: query
        description: Attach to container STDIN
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "101":
          description: No error, connection has been hijacked for transporting streams.
          content: {}
        "400":
          description: Bad parameter in request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /containers/{name}/exec:
    post:
      tags:
      - exec (compat)
      summary: Create an exec instance
      description: Create an exec session to run a command inside a running container.
        Exec sessions will be automatically removed 5 minutes after they exit.
      operationId: createExec
      parameters:
      - name: name
        in: path
        description: name of container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Attributes for create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body'
          application/x-tar:
            schema:
              $ref: '#/components/schemas/body_1'
        required: false
      responses:
        "201":
          description: no error
          content: {}
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "409":
          description: container is paused
          content: {}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      x-codegen-request-body-name: control
  /containers/{name}/export:
    get:
      tags:
      - containers (compat)
      summary: Export a container
      description: Export the contents of a container as a tarball.
      operationId: exportContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: tarball is returned in body
          content: {}
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /containers/{name}/json:
    get:
      tags:
      - containers (compat)
      summary: Inspect container
      description: Return low-level information about a container.
      operationId: getContainer
      parameters:
      - name: name
        in: path
        description: the name or id of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: size
        in: query
        description: include the size of the container
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: Inspect container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /containers/{name}/kill:
    post:
      tags:
      - containers (compat)
      summary: Kill container
      description: Signal to send to the container as an integer or string (e.g. SIGINT)
      operationId: killContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signal
        in: query
        description: signal to be sent to container
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: SIGKILL
      responses:
        "204":
          description: no error
          content: {}
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "409":
          description: Conflict error in operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /containers/{name}/logs:
    get:
      tags:
      - containers (compat)
      summary: Get container logs
      description: Get stdout and stderr logs from a container.
      operationId: logsFromContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: follow
        in: query
        description: Keep connection after returning logs.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: stdout
        in: query
        description: Return logs from stdout
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: stderr
        in: query
        description: Return logs from stderr
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: since
        in: query
        description: Only return logs since this time, as a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: until
        in: query
        description: Only return logs before this time, as a UNIX timestamp
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: timestamps
        in: query
        description: Add timestamps to every log line
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: tail
        in: query
        description: Only return this number of log lines from the end of the logs
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: all
      responses:
        "200":
          description: logs returned as a stream in response body.
          content: {}
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /containers/{name}/pause:
    post:
      tags:
      - containers (compat)
      summary: Pause container
      description: Use the cgroups freezer to suspend all processes in a container.
      operationId: pauseContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: no error
          content: {}
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /containers/{name}/resize:
    post:
      tags:
      - containers (compat)
      summary: Resize a container's TTY
      description: Resize the terminal attached to a container (for use with Attach).
      operationId: resizeContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: h
        in: query
        description: Height to set for the terminal, in characters
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: w
        in: query
        description: Width to set for the terminal, in characters
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /containers/{name}/restart:
    post:
      tags:
      - containers (compat)
      summary: Restart container
      operationId: restartContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: t
        in: query
        description: timeout before sending kill signal to container
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "204":
          description: no error
          content: {}
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /containers/{name}/start:
    post:
      tags:
      - containers (compat)
      summary: Start a container
      operationId: startContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: detachKeys
        in: query
        description: 'Override the key sequence for detaching a container. Format
          is a single character [a-Z] or ctrl-<value> where <value> is one of: a-z,
          @, ^, [, , or _.'
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: ctrl-p,ctrl-q
      responses:
        "204":
          description: no error
          content: {}
        "304":
          description: Container already started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /containers/{name}/stats:
    get:
      tags:
      - containers (compat)
      summary: Get stats for a container
      description: This returns a live stream of a container’s resource usage statistics.
      operationId: statsContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: stream
        in: query
        description: Stream the output
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      responses:
        "200":
          description: OK
          content: {}
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /containers/{name}/stop:
    post:
      tags:
      - containers (compat)
      summary: Stop a container
      description: Stop a container
      operationId: stopContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: t
        in: query
        description: number of seconds to wait before killing container
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "204":
          description: no error
          content: {}
        "304":
          description: Container already stopped
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /containers/{name}/top:
    get:
      tags:
      - containers (compat)
      summary: List processes running inside a container
      operationId: topContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: ps_args
        in: query
        description: arguments to pass to ps such as aux. Requires ps(1) to be installed
          in the container if no ps(1) compatible AIX descriptors are used.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: List processes in container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /containers/{name}/unpause:
    post:
      tags:
      - containers (compat)
      summary: Unpause container
      description: Resume a paused container
      operationId: unpauseContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: no error
          content: {}
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /containers/{name}/wait:
    post:
      tags:
      - containers (compat)
      summary: Wait on a container
      description: Block until a container stops or given condition is met.
      operationId: waitContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: condition
        in: query
        description: |
          wait until container is to a given condition. default is stopped. valid conditions are:
            - configured
            - created
            - exited
            - paused
            - running
            - stopped
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Wait container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /containers/create:
    post:
      tags:
      - containers (compat)
      summary: Create a container
      operationId: createContainer
      parameters:
      - name: name
        in: query
        description: container name
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "201":
          description: Create container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
        "400":
          description: Bad parameter in request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "409":
          description: Conflict error in operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /containers/json:
    get:
      tags:
      - containers (compat)
      summary: List containers
      description: Returns a list of containers
      operationId: listContainers
      parameters:
      - name: all
        in: query
        description: Return all containers. By default, only running containers are
          shown
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        description: Return this number of most recently created containers, including
          non-running ones.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: size
        in: query
        description: Return the size of container as fields SizeRw and SizeRootFs.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: filters
        in: query
        description: |
          Returns a list of containers.
           - ancestor=(<image-name>[:<tag>], <image id>, or <image@digest>)
           - before=(<container id> or <container name>)
           - expose=(<port>[/<proto>]|<startport-endport>/[<proto>])
           - exited=<int> containers with exit code of <int>
           - health=(starting|healthy|unhealthy|none)
           - id=<ID> a container's ID
           - is-task=(true|false)
           - label=key or label="key=value" of a container label
           - name=<name> a container's name
           - network=(<network id> or <network name>)
           - publish=(<port>[/<proto>]|<startport-endport>/[<proto>])
           - since=(<container id> or <container name>)
           - status=(created|restarting|running|removing|paused|exited|dead)
           - volume=(<volume name> or <mount point destination>)
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: List Containers
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "400":
          description: Bad parameter in request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /containers/prune:
    post:
      tags:
      - containers (compat)
      summary: Delete stopped containers
      description: Remove containers not in use
      operationId: pruneContainers
      parameters:
      - name: filters
        in: query
        description: |
          Filters to process on the prune list, encoded as JSON (a `map[string][]string`).  Available filters:
           - `until=<timestamp>` Prune containers created before this timestamp. The `<timestamp>` can be Unix timestamps, date formatted timestamps, or Go duration strings (e.g. `10m`, `1h30m`) computed relative to the daemon machine’s time.
           - `label` (`label=<key>`, `label=<key>=<value>`, `label!=<key>`, or `label!=<key>=<value>`) Prune containers with (or without, in case `label!=...` is used) the specified labels.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Prune containers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContainersPruneReport'
                x-content-type: application/json
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /events:
    get:
      tags:
      - system (compat)
      summary: Get events
      description: Returns events filtered on query parameters
      operationId: getEvents
      parameters:
      - name: since
        in: query
        description: start streaming events from this time
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: until
        in: query
        description: stop streaming events later than this
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: filters
        in: query
        description: JSON encoded map[string][]string of constraints
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: returns a string of json data describing an event
          content: {}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /exec/{id}/json:
    get:
      tags:
      - exec (compat)
      summary: Inspect an exec instance
      description: Return low-level information about an exec instance.
      operationId: inspectExec
      parameters:
      - name: id
        in: path
        description: Exec instance ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: no error
          content: {}
        "404":
          description: No such exec instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /exec/{id}/resize:
    post:
      tags:
      - exec (compat)
      summary: Resize an exec instance
      description: |
        Resize the TTY session used by an exec instance. This endpoint only works if tty was specified as part of creating and starting the exec instance.
      operationId: resizeExec
      parameters:
      - name: id
        in: path
        description: Exec instance ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: h
        in: query
        description: Height of the TTY session in characters
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: w
        in: query
        description: Width of the TTY session in characters
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "201":
          description: no error
          content: {}
        "404":
          description: No such exec instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /exec/{id}/start:
    post:
      tags:
      - exec (compat)
      summary: Start an exec instance
      description: Starts a previously set up exec instance. If detach is true, this
        endpoint returns immediately after starting the command. Otherwise, it sets
        up an interactive session with the command.
      operationId: startExec
      parameters:
      - name: id
        in: path
        description: Exec instance ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Attributes for start
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_2'
          application/x-tar:
            schema:
              $ref: '#/components/schemas/body_3'
        required: false
      responses:
        "200":
          description: no error
          content: {}
        "404":
          description: No such exec instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "409":
          description: container is not running
          content: {}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      x-codegen-request-body-name: control
  /images/{name:.*}:
    delete:
      tags:
      - images (compat)
      summary: Remove Image
      description: Delete an image from local storage
      operationId: removeImage
      parameters:
      - name: name:.*
        in: path
        description: name or ID of image to delete
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: force
        in: query
        description: remove the image even if used by containers or has other tags
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: noprune
        in: query
        description: not supported. will be logged as an invalid parameter if enabled
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: Delete response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ImageDeleteResponse'
                x-content-type: application/json
        "404":
          description: No such image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "409":
          description: Conflict error in operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /images/{name:.*}/get:
    get:
      tags:
      - images (compat)
      summary: Export an image
      description: Export an image in tarball format
      operationId: exportImage
      parameters:
      - name: name:.*
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                type: string
                format: binary
                x-content-type: application/json
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /images/{name:.*}/history:
    get:
      tags:
      - images (compat)
      summary: History of an image
      description: Return parent layers of an image.
      operationId: imageHistory
      parameters:
      - name: name:.*
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: History response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        "404":
          description: No such image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /images/{name:.*}/json:
    get:
      tags:
      - images (compat)
      summary: Inspect an image
      description: Return low-level information about an image.
      operationId: inspectImage
      parameters:
      - name: name:.*
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Inspect response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
        "404":
          description: No such image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /images/{name:.*}/push:
    post:
      tags:
      - images (compat)
      summary: Push Image
      description: Push an image to a container registry
      operationId: pushImage
      parameters:
      - name: name:.*
        in: path
        description: Name of image to push.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: tag
        in: query
        description: The tag to associate with the image on the registry.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: X-Registry-Auth
        in: header
        description: A base64-encoded auth configuration.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                type: string
                format: binary
                x-content-type: application/json
        "404":
          description: No such image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /images/{name:.*}/tag:
    post:
      tags:
      - images (compat)
      summary: Tag an image
      description: Tag an image so that it becomes part of a repository.
      operationId: tagImage
      parameters:
      - name: name:.*
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: repo
        in: query
        description: the repository to tag in
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: tag
        in: query
        description: the name of the new tag
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "201":
          description: no error
          content: {}
        "400":
          description: Bad parameter in request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "404":
          description: No such image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "409":
          description: Conflict error in operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /images/create:
    post:
      tags:
      - images (compat)
      summary: Create an image
      description: Create an image by either pulling it from a registry or importing
        it.
      operationId: createImage
      parameters:
      - name: fromImage
        in: query
        description: needs description
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fromSrc
        in: query
        description: needs description
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: tag
        in: query
        description: needs description
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: X-Registry-Auth
        in: header
        description: A base64-encoded auth configuration.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Image content if fromSrc parameter was used
        content:
          application/json:
            schema:
              type: string
          application/x-tar:
            schema:
              type: string
        required: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: No such image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      x-codegen-request-body-name: request
  /images/json:
    get:
      tags:
      - images (compat)
      summary: List Images
      description: Returns a list of images on the server. Note that it uses a different,
        smaller representation of an image than inspecting a single image.
      operationId: listImages
      parameters:
      - name: all
        in: query
        description: Show all images. Only images from a final layer (no children)
          are shown by default.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: filters
        in: query
        description: |
          A JSON encoded value of the filters (a `map[string][]string`) to process on the images list. Available filters:
          - `before`=(`<image-name>[:<tag>]`,  `<image id>` or `<image@digest>`)
          - `dangling=true`
          - `label=key` or `label="key=value"` of an image label
          - `reference`=(`<image-name>[:<tag>]`)
          - `since`=(`<image-name>[:<tag>]`,  `<image id>` or `<image@digest>`)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: digests
        in: query
        description: Not supported
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: Image summary
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ImageSummary'
                x-content-type: application/json
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /images/load:
    post:
      tags:
      - images (compat)
      summary: Import image
      description: Load a set of images and tags into a repository.
      operationId: importImage
      parameters:
      - name: quiet
        in: query
        description: not supported
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        description: tarball of container image
        content:
          application/json:
            schema:
              type: string
          application/x-tar:
            schema:
              type: string
        required: false
      responses:
        "200":
          description: no error
          content: {}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      x-codegen-request-body-name: request
  /images/prune:
    post:
      tags:
      - images (compat)
      summary: Prune unused images
      description: Remove images from local storage that are not being used by a container
      operationId: pruneImages
      parameters:
      - name: filters
        in: query
        description: |
          filters to apply to image pruning, encoded as JSON (map[string][]string). Available filters:
            - `dangling=<boolean>` When set to `true` (or `1`), prune only
               unused *and* untagged images. When set to `false`
               (or `0`), all unused images are pruned.
            - `until=<string>` Prune images created before this timestamp. The `<timestamp>` can be Unix timestamps, date formatted timestamps, or Go duration strings (e.g. `10m`, `1h30m`) computed relative to the daemon machine’s time.
            - `label` (`label=<key>`, `label=<key>=<value>`, `label!=<key>`, or `label!=<key>=<value>`) Prune images with (or without, in case `label!=...` is used) the specified labels.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Delete response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ImageDeleteResponse'
                x-content-type: application/json
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /images/search:
    get:
      tags:
      - images (compat)
      summary: Search images
      description: Search registries for an image
      operationId: searchImages
      parameters:
      - name: term
        in: query
        description: term to search
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: maximum number of results
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: filters
        in: query
        description: |
          A JSON encoded value of the filters (a `map[string][]string`) to process on the images list. Available filters:
          - `is-automated=(true|false)`
          - `is-official=(true|false)`
          - `stars=<number>` Matches images that has at least 'number' stars.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
        "400":
          description: Bad parameter in request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /info:
    get:
      tags:
      - system (compat)
      summary: Get info
      description: Returns information on the system and libpod configuration
      operationId: getInfo
      responses:
        "200":
          description: to be determined
          content: {}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /libpod/_ping:
    get:
      tags:
      - system (compat)
      - system
      summary: Ping service
      description: |
        Return protocol information in response headers.
        `HEAD /libpod/_ping` is also supported.
        `/_ping` is available for compatibility with other engines.
        The '_ping' endpoints are not versioned.
      operationId: libpodPingGet
      responses:
        "200":
          description: Success
          headers:
            Docker-Experimental:
              description: If the server is running with experimental mode enabled,
                always true
              style: simple
              explode: false
              schema:
                type: boolean
            Cache-Control:
              description: always no-cache
              style: simple
              explode: false
              schema:
                type: string
            Libpod-API-Version:
              description: |
                Max Podman API Version the server supports.
                Available if service is backed by Podman, therefore may be used to
                determine if talking to Podman engine or another engine
              style: simple
              explode: false
              schema:
                type: string
            BuildKit-Version:
              description: Default version of docker image builder
              style: simple
              explode: false
              schema:
                type: string
            Pragma:
              description: always no-cache
              style: simple
              explode: false
              schema:
                type: string
            Libpod-Buildha-Version:
              description: |
                Default version of libpod image builder.
                  Available if service is backed by Podman, therefore may be used to
                  determine if talking to Podman engine or another engine
              style: simple
              explode: false
              schema:
                type: string
            API-Version:
              description: Max compatibility API Version the server supports
              style: simple
              explode: false
              schema:
                type: string
          content:
            text/plain:
              schema:
                type: string
                description: OK
                example: OK
                x-content-type: text/plain
        "500":
          description: Internal server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /libpod/build:
    post:
      tags:
      - images
      summary: Create image
      description: Build an image from the given Dockerfile(s)
      operationId: libpodBuildImage
      parameters:
      - name: dockerfile
        in: query
        description: |
          Path within the build context to the `Dockerfile`.
          This is ignored if remote is specified and points to an external `Dockerfile`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: Dockerfile
      - name: t
        in: query
        description: A name and optional tag to apply to the image in the `name:tag`
          format.  If you omit the tag the default latest value is assumed. You can
          provide several t parameters.
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: latest
      - name: extrahosts
        in: query
        description: |
          TBD Extra hosts to add to /etc/hosts
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: remote
        in: query
        description: |
          A Git repository URI or HTTP/HTTPS context URI.
          If the URI points to a single text file, the file’s contents are placed
          into a file called Dockerfile and the image is built from that file. If
          the URI points to a tarball, the file is downloaded by the daemon and the
          contents therein used as the context for the build. If the URI points to a
          tarball and the dockerfile parameter is also specified, there must be a file
          with the corresponding path inside the tarball.
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: q
        in: query
        description: |
          Suppress verbose build output
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: nocache
        in: query
        description: |
          Do not use the cache when building the image
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: cachefrom
        in: query
        description: |
          JSON array of images used to build cache resolution
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: pull
        in: query
        description: |
          Attempt to pull the image even if an older image exists locally
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: rm
        in: query
        description: |
          Remove intermediate containers after a successful build
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: forcerm
        in: query
        description: |
          Always remove intermediate containers, even upon failure
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: memory
        in: query
        description: |
          Memory is the upper limit (in bytes) on how much memory running containers can use
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: memswap
        in: query
        description: |
          MemorySwap limits the amount of memory and swap together
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: cpushares
        in: query
        description: |
          CPUShares (relative weight
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: cpusetcpus
        in: query
        description: |
          CPUSetCPUs in which to allow execution (0-3, 0,1)
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: cpuperiod
        in: query
        description: |
          CPUPeriod limits the CPU CFS (Completely Fair Scheduler) period
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: cpuquota
        in: query
        description: |
          CPUQuota limits the CPU CFS (Completely Fair Scheduler) quota
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: buildargs
        in: query
        description: |
          JSON map of string pairs denoting build-time variables.
          For example, the build argument `Foo` with the value of `bar` would be encoded in JSON as `["Foo":"bar"]`.

          For example, buildargs={"Foo":"bar"}.

          Note(s):
          * This should not be used to pass secrets.
          * The value of buildargs should be URI component encoded before being passed to the API.

          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: shmsize
        in: query
        description: |
          ShmSize is the "size" value to use when mounting an shmfs on the container's /dev/shm directory.
          Default is 64MB
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 67108864
      - name: squash
        in: query
        description: |
          Silently ignored.
          Squash the resulting images layers into a single layer
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: labels
        in: query
        description: |
          JSON map of key, value pairs to set as labels on the new image
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: networkmode
        in: query
        description: |
          Sets the networking mode for the run commands during build.
          Supported standard values are:
            * `bridge` limited to containers within a single host, port mapping required for external access
            * `host` no isolation between host and containers on this network
            * `none` disable all networking for this container
            * container:<nameOrID> share networking with given container
            ---All other values are assumed to be a custom network's name
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: bridge
      - name: platform
        in: query
        description: |
          Platform format os[/arch[/variant]]
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: target
        in: query
        description: |
          Target build stage
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: outputs
        in: query
        description: |
          output configuration TBD
          (As of version 1.xx)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: httpproxy
        in: query
        description: |
          Inject http proxy environment variables into container
          (As of version 2.0.0)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: OK (As of version 1.xx)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "400":
          description: Bad parameter in request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /libpod/commit:
    post:
      tags:
      - containers
      summary: Commit
      description: Create a new image from a container
      operationId: libpodCommitContainer
      parameters:
      - name: container
        in: query
        description: the name or ID of a container
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: repo
        in: query
        description: the repository name for the created image
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: tag
        in: query
        description: tag name for the created image
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: comment
        in: query
        description: commit message
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: author
        in: query
        description: author of the image
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: pause
        in: query
        description: pause the container before committing it
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: changes
        in: query
        description: instructions to apply while committing in Dockerfile format (i.e.
          "CMD=/bin/foo")
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: format
        in: query
        description: format of the image manifest and metadata (default "oci")
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "201":
          description: no error
          content: {}
        "404":
          description: No such image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /libpod/containers/{name:.*}/healthcheck:
    get:
      tags:
      - containers
      summary: Run a container's healthcheck
      description: Execute the defined healthcheck and return information about the
        results
      operationId: libpodRunHealthCheck
      parameters:
      - name: name:.*
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Healthcheck
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "409":
          description: container has no healthcheck or is not running
          content: {}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /libpod/containers/{name}:
    delete:
      tags:
      - containers
      summary: Delete container
      description: Delete container
      operationId: libpodRemoveContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: force
        in: query
        description: need something
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: v
        in: query
        description: delete volumes
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "204":
          description: no error
          content: {}
        "400":
          description: Bad parameter in request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "409":
          description: Conflict error in operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /libpod/containers/{name}/attach:
    post:
      tags:
      - containers
      summary: Attach to a container
      description: Hijacks the connection to forward the container's standard streams
        to the client.
      operationId: libpodAttachContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: detachKeys
        in: query
        description: keys to use for detaching from the container
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: logs
        in: query
        description: Stream all logs from the container across the connection. Happens
          before streaming attach (if requested). At least one of logs or stream must
          be set
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: stream
        in: query
        description: Attach to the container. If unset, and logs is set, only the
          container's logs will be sent. At least one of stream or logs must be set
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: stdout
        in: query
        description: Attach to container STDOUT
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: stderr
        in: query
        description: Attach to container STDERR
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: stdin
        in: query
        description: Attach to container STDIN
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "101":
          description: No error, connection has been hijacked for transporting streams.
          content: {}
        "400":
          description: Bad parameter in request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /libpod/containers/{name}/changes:
    get:
      tags:
      - containers
      - containers (compat)
      summary: Report on changes to container's filesystem; adds, deletes or modifications.
      description: |
        Returns which files in a container's filesystem have been added, deleted, or modified. The Kind of modification can be one of:

        0: Modified
        1: Added
        2: Deleted
      operationId: changesContainer
      parameters:
      - name: name
        in: path
        description: the name or id of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Array of Changes
          content: {}
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
            text/plain:
              schema:
                $ref: '#/components/schemas/inline_response_400'
            text/html:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
            text/plain:
              schema:
                $ref: '#/components/schemas/inline_response_400'
            text/html:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /libpod/containers/{name}/checkpoint:
    post:
      tags:
      - containers
      summary: Checkpoint a container
      operationId: libpodCheckpointContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: keep
        in: query
        description: keep all temporary checkpoint files
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: leaveRunning
        in: query
        description: leave the container running after writing checkpoint to disk
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: tcpEstablished
        in: query
        description: checkpoint a container with established TCP connections
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: export
        in: query
        description: export the checkpoint image to a tar.gz
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: ignoreRootFS
        in: query
        description: do not include root file-system changes when exporting
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: tarball is returned in body if exported
          content: {}
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /libpod/containers/{name}/copy:
    get:
      tags:
      - containers (compat)
      summary: Copy files from a container
      description: Copy a tar archive of files from a container
      operationId: libpodGetArchive
      parameters:
      - name: name
        in: path
        description: container name or id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: path
        in: query
        description: Path to a directory in the container to extract
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                type: string
                format: binary
                x-content-type: application/json
        "400":
          description: Bad parameter in request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
    post:
      tags:
      - containers
      summary: Copy files into a container
      description: Copy a tar archive of files into a container
      operationId: libpodPutArchive
      parameters:
      - name: name
        in: path
        description: container name or id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: path
        in: query
        description: Path to a directory in the container to extract
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: pause
        in: query
        description: pause the container while copying (defaults to true)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      requestBody:
        description: tarfile of files to copy into the container
        content:
          application/json:
            schema:
              type: string
          application/x-tar:
            schema:
              type: string
        required: false
      responses:
        "200":
          description: no error
          content: {}
        "400":
          description: Bad parameter in request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "403":
          description: the container rootfs is read-only
          content: {}
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      x-codegen-request-body-name: request
  /libpod/containers/{name}/exec:
    post:
      tags:
      - exec
      summary: Create an exec instance
      description: Create an exec session to run a command inside a running container.
        Exec sessions will be automatically removed 5 minutes after they exit.
      operationId: libpodCreateExec
      parameters:
      - name: name
        in: path
        description: name of container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Attributes for create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_4'
          application/x-tar:
            schema:
              $ref: '#/components/schemas/body_5'
        required: false
      responses:
        "201":
          description: no error
          content: {}
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "409":
          description: container is paused
          content: {}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      x-codegen-request-body-name: control
  /libpod/containers/{name}/exists:
    get:
      tags:
      - containers
      summary: Check if container exists
      description: Quick way to determine if a container exists by name or ID
      operationId: libpodContainerExists
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: container exists
          content: {}
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /libpod/containers/{name}/export:
    get:
      tags:
      - containers
      summary: Export a container
      description: Export the contents of a container as a tarball.
      operationId: libpodExportContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: tarball is returned in body
          content: {}
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /libpod/containers/{name}/init:
    post:
      tags:
      - containers
      summary: Initialize a container
      description: Performs all tasks necessary for initializing the container but
        does not start the container.
      operationId: libpodInitContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: no error
          content: {}
        "304":
          description: container already initialized
          content: {}
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /libpod/containers/{name}/json:
    get:
      tags:
      - containers
      summary: Inspect container
      description: Return low-level information about a container.
      operationId: libpodGetContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: size
        in: query
        description: display filesystem usage
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: Inspect container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /libpod/containers/{name}/kill:
    post:
      tags:
      - containers
      summary: Kill container
      description: send a signal to a container, defaults to killing the container
      operationId: libpodKillContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signal
        in: query
        description: signal to be sent to container, either by integer or SIG_ name
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: TERM
      responses:
        "204":
          description: no error
          content: {}
        "404":
          description: No such container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "409":
          description: Conflict error in operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /libpod/containers/{name}/logs:
    get:
      tags:
      - containers
      summary: Get container logs
      description: Get stdout and stderr logs from a container.
      operationId: libpodLogsFromContainer
      parameters:
      - name: name
        in: path
        description: the name or ID of the container
[...]
