---
swagger: "2.0"
info:
  description: "This documentation describes the Podman v2.0 RESTful API.\nIt replaces\
    \ the Podman v1.0 API and was initially delivered\nalong with Podman v2.0.  It\
    \ consists of a Docker-compatible\nAPI and a Libpod API providing support for\
    \ Podman’s unique\nfeatures such as pods.\n\nTo start the service and keep it\
    \ running for 5,000 seconds (-t 0 runs forever):\n\npodman system service -t 5000\
    \ &\n\nYou can then use cURL on the socket using requests documented below.\n\n\
    NOTE: if you install the package podman-docker, it will create a symbolic\nlink\
    \ for /var/run/docker.sock to /run/podman/podman.sock\n\nSee podman-service(1)\
    \ for more information.\n\nQuick Examples:\n\n'podman info'\n\ncurl --unix-socket\
    \ /run/podman/podman.sock http://d/v1.0.0/libpod/info\n\n'podman pull quay.io/containers/podman'\n\
    \ncurl -XPOST --unix-socket /run/podman/podman.sock -v 'http://d/v1.0.0/images/create?fromImage=quay.io%2Fcontainers%2Fpodman'\n\
    \n'podman list images'\n\ncurl --unix-socket /run/podman/podman.sock -v 'http://d/v1.0.0/libpod/images/json'\
    \ | jq"
  version: "0.0.1"
  title: "Provides a container compatible interface."
  contact:
    name: "Podman"
    url: "https://podman.io/community/"
    email: "podman@lists.podman.io"
  license:
    name: "Apache-2.0"
    url: "https://opensource.org/licenses/Apache-2.0"
  x-logo:
  - url: "https://raw.githubusercontent.com/containers/libpod/master/logo/podman-logo.png"
  - altText: "Podman logo"
host: "podman.io"
basePath: "/"
tags:
- name: "containers"
  description: "Actions related to containers"
- name: "exec"
  description: "Actions related to exec"
- name: "images"
  description: "Actions related to images"
- name: "manifests"
  description: "Actions related to manifests"
- name: "networks"
  description: "Actions related to networks"
- name: "pods"
  description: "Actions related to pods"
- name: "volumes"
  description: "Actions related to volumes"
- name: "system"
  description: "Actions related to Podman engine"
- name: "containers (compat)"
  description: "Actions related to containers for the compatibility endpoints"
- name: "exec (compat)"
  description: "Actions related to exec for the compatibility endpoints"
- name: "images (compat)"
  description: "Actions related to images for the compatibility endpoints"
- name: "networks (compat)"
  description: "Actions related to compatibility networks"
- name: "volumes (compat)"
  description: "Actions related to volumes for the compatibility endpoints"
- name: "system (compat)"
  description: "Actions related to Podman and compatibility engines"
schemes:
- "http"
- "https"
consumes:
- "application/json"
- "application/x-tar"
produces:
- "application/json"
- "text/plain"
- "text/html"
paths:
  /build:
    post:
      tags:
      - "images (compat)"
      summary: "Create image"
      description: "Build an image from the given Dockerfile(s)"
      operationId: "buildImage"
      produces:
      - "application/json"
      parameters:
      - name: "dockerfile"
        in: "query"
        description: "Path within the build context to the `Dockerfile`.\nThis is\
          \ ignored if remote is specified and points to an external `Dockerfile`.\n"
        required: false
        type: "string"
        default: "Dockerfile"
        x-exportParamName: "Dockerfile"
        x-optionalDataType: "String"
      - name: "t"
        in: "query"
        description: "A name and optional tag to apply to the image in the `name:tag`\
          \ format. If you omit the tag the default latest value is assumed. You can\
          \ provide several t parameters."
        required: false
        type: "string"
        default: "latest"
        x-exportParamName: "T"
        x-optionalDataType: "String"
      - name: "extrahosts"
        in: "query"
        description: "TBD Extra hosts to add to /etc/hosts\n(As of version 1.xx)\n"
        required: false
        type: "string"
        x-exportParamName: "Extrahosts"
        x-optionalDataType: "String"
      - name: "remote"
        in: "query"
        description: "A Git repository URI or HTTP/HTTPS context URI.\nIf the URI\
          \ points to a single text file, the file’s contents are placed\ninto a file\
          \ called Dockerfile and the image is built from that file. If\nthe URI points\
          \ to a tarball, the file is downloaded by the daemon and the\ncontents therein\
          \ used as the context for the build. If the URI points to a\ntarball and\
          \ the dockerfile parameter is also specified, there must be a file\nwith\
          \ the corresponding path inside the tarball.\n(As of version 1.xx)\n"
        required: false
        type: "string"
        x-exportParamName: "Remote"
        x-optionalDataType: "String"
      - name: "q"
        in: "query"
        description: "Suppress verbose build output\n"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Q"
        x-optionalDataType: "Bool"
      - name: "nocache"
        in: "query"
        description: "Do not use the cache when building the image\n(As of version\
          \ 1.xx)\n"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Nocache"
        x-optionalDataType: "Bool"
      - name: "cachefrom"
        in: "query"
        description: "JSON array of images used to build cache resolution\n(As of\
          \ version 1.xx)\n"
        required: false
        type: "string"
        x-exportParamName: "Cachefrom"
        x-optionalDataType: "String"
      - name: "pull"
        in: "query"
        description: "Attempt to pull the image even if an older image exists locally\n\
          (As of version 1.xx)\n"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Pull"
        x-optionalDataType: "Bool"
      - name: "rm"
        in: "query"
        description: "Remove intermediate containers after a successful build\n(As\
          \ of version 1.xx)\n"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "Rm"
        x-optionalDataType: "Bool"
      - name: "forcerm"
        in: "query"
        description: "Always remove intermediate containers, even upon failure\n(As\
          \ of version 1.xx)\n"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Forcerm"
        x-optionalDataType: "Bool"
      - name: "memory"
        in: "query"
        description: "Memory is the upper limit (in bytes) on how much memory running\
          \ containers can use\n(As of version 1.xx)\n"
        required: false
        type: "integer"
        x-exportParamName: "Memory"
        x-optionalDataType: "Int32"
      - name: "memswap"
        in: "query"
        description: "MemorySwap limits the amount of memory and swap together\n(As\
          \ of version 1.xx)\n"
        required: false
        type: "integer"
        x-exportParamName: "Memswap"
        x-optionalDataType: "Int32"
      - name: "cpushares"
        in: "query"
        description: "CPUShares (relative weight\n(As of version 1.xx)\n"
        required: false
        type: "integer"
        x-exportParamName: "Cpushares"
        x-optionalDataType: "Int32"
      - name: "cpusetcpus"
        in: "query"
        description: "CPUSetCPUs in which to allow execution (0-3, 0,1)\n(As of version\
          \ 1.xx)\n"
        required: false
        type: "string"
        x-exportParamName: "Cpusetcpus"
        x-optionalDataType: "String"
      - name: "cpuperiod"
        in: "query"
        description: "CPUPeriod limits the CPU CFS (Completely Fair Scheduler) period\n\
          (As of version 1.xx)\n"
        required: false
        type: "integer"
        x-exportParamName: "Cpuperiod"
        x-optionalDataType: "Int32"
      - name: "cpuquota"
        in: "query"
        description: "CPUQuota limits the CPU CFS (Completely Fair Scheduler) quota\n\
          (As of version 1.xx)\n"
        required: false
        type: "integer"
        x-exportParamName: "Cpuquota"
        x-optionalDataType: "Int32"
      - name: "buildargs"
        in: "query"
        description: "JSON map of string pairs denoting build-time variables.\nFor\
          \ example, the build argument `Foo` with the value of `bar` would be encoded\
          \ in JSON as `[\"Foo\":\"bar\"]`.\n\nFor example, buildargs={\"Foo\":\"\
          bar\"}.\n\nNote(s):\n* This should not be used to pass secrets.\n* The value\
          \ of buildargs should be URI component encoded before being passed to the\
          \ API.\n\n(As of version 1.xx)\n"
        required: false
        type: "string"
        x-exportParamName: "Buildargs"
        x-optionalDataType: "String"
      - name: "shmsize"
        in: "query"
        description: "ShmSize is the \"size\" value to use when mounting an shmfs\
          \ on the container's /dev/shm directory.\nDefault is 64MB\n(As of version\
          \ 1.xx)\n"
        required: false
        type: "integer"
        default: 67108864
        x-exportParamName: "Shmsize"
        x-optionalDataType: "Int32"
      - name: "squash"
        in: "query"
        description: "Silently ignored.\nSquash the resulting images layers into a\
          \ single layer\n(As of version 1.xx)\n"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Squash"
        x-optionalDataType: "Bool"
      - name: "labels"
        in: "query"
        description: "JSON map of key, value pairs to set as labels on the new image\n\
          (As of version 1.xx)\n"
        required: false
        type: "string"
        x-exportParamName: "Labels"
        x-optionalDataType: "String"
      - name: "networkmode"
        in: "query"
        description: "Sets the networking mode for the run commands during build.\n\
          Supported standard values are:\n  * `bridge` limited to containers within\
          \ a single host, port mapping required for external access\n  * `host` no\
          \ isolation between host and containers on this network\n  * `none` disable\
          \ all networking for this container\n  * container:<nameOrID> share networking\
          \ with given container\n  ---All other values are assumed to be a custom\
          \ network's name\n(As of version 1.xx)\n"
        required: false
        type: "string"
        default: "bridge"
        x-exportParamName: "Networkmode"
        x-optionalDataType: "String"
      - name: "platform"
        in: "query"
        description: "Platform format os[/arch[/variant]]\n(As of version 1.xx)\n"
        required: false
        type: "string"
        x-exportParamName: "Platform"
        x-optionalDataType: "String"
      - name: "target"
        in: "query"
        description: "Target build stage\n(As of version 1.xx)\n"
        required: false
        type: "string"
        x-exportParamName: "Target"
        x-optionalDataType: "String"
      - name: "outputs"
        in: "query"
        description: "output configuration TBD\n(As of version 1.xx)\n"
        required: false
        type: "string"
        x-exportParamName: "Outputs"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "OK (As of version 1.xx)"
          schema:
            $ref: "#/definitions/inline_response_200"
        "400":
          description: "Bad parameter in request"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /commit:
    post:
      tags:
      - "containers (compat)"
      summary: "New Image"
      description: "Create a new image from a container"
      operationId: "commitContainer"
      produces:
      - "application/json"
      parameters:
      - name: "container"
        in: "query"
        description: "the name or ID of a container"
        required: false
        type: "string"
        x-exportParamName: "Container"
        x-optionalDataType: "String"
      - name: "repo"
        in: "query"
        description: "the repository name for the created image"
        required: false
        type: "string"
        x-exportParamName: "Repo"
        x-optionalDataType: "String"
      - name: "tag"
        in: "query"
        description: "tag name for the created image"
        required: false
        type: "string"
        x-exportParamName: "Tag"
        x-optionalDataType: "String"
      - name: "comment"
        in: "query"
        description: "commit message"
        required: false
        type: "string"
        x-exportParamName: "Comment"
        x-optionalDataType: "String"
      - name: "author"
        in: "query"
        description: "author of the image"
        required: false
        type: "string"
        x-exportParamName: "Author"
        x-optionalDataType: "String"
      - name: "pause"
        in: "query"
        description: "pause the container before committing it"
        required: false
        type: "boolean"
        x-exportParamName: "Pause"
        x-optionalDataType: "Bool"
      - name: "changes"
        in: "query"
        description: "instructions to apply while committing in Dockerfile format"
        required: false
        type: "string"
        x-exportParamName: "Changes"
        x-optionalDataType: "String"
      responses:
        "201":
          description: "no error"
        "404":
          description: "No such image"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /containers/{name}:
    delete:
      tags:
      - "containers (compat)"
      summary: "Remove a container"
      operationId: "removeContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "force"
        in: "query"
        description: "If the container is running, kill it before removing it."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Force"
        x-optionalDataType: "Bool"
      - name: "v"
        in: "query"
        description: "Remove the volumes associated with the container."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "V"
        x-optionalDataType: "Bool"
      - name: "link"
        in: "query"
        description: "not supported"
        required: false
        type: "boolean"
        x-exportParamName: "Link"
        x-optionalDataType: "Bool"
      responses:
        "204":
          description: "no error"
        "400":
          description: "Bad parameter in request"
          schema:
            $ref: "#/definitions/inline_response_400"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "409":
          description: "Conflict error in operation"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /containers/{name}/archive:
    get:
      tags:
      - "containers (compat)"
      summary: "Get files from a container"
      description: "Get a tar archive of files from a container"
      operationId: "getArchive"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "container name or id"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "path"
        in: "query"
        description: "Path to a directory in the container to extract"
        required: true
        type: "string"
        x-exportParamName: "Path"
      responses:
        "200":
          description: "no error"
          schema:
            type: "string"
            format: "binary"
        "400":
          description: "Bad parameter in request"
          schema:
            $ref: "#/definitions/inline_response_400"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
    put:
      tags:
      - "containers (compat)"
      summary: "Put files into a container"
      description: "Put a tar archive of files into a container"
      operationId: "putArchive"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "container name or id"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "path"
        in: "query"
        description: "Path to a directory in the container to extract"
        required: true
        type: "string"
        x-exportParamName: "Path"
      - name: "noOverwriteDirNonDir"
        in: "query"
        description: "if unpacking the given content would cause an existing directory\
          \ to be replaced with a non-directory and vice versa (1 or true)"
        required: false
        type: "string"
        x-exportParamName: "NoOverwriteDirNonDir"
        x-optionalDataType: "String"
      - name: "copyUIDGID"
        in: "query"
        description: "copy UID/GID maps to the dest file or di (1 or true)"
        required: false
        type: "string"
        x-exportParamName: "CopyUIDGID"
        x-optionalDataType: "String"
      - in: "body"
        name: "request"
        description: "tarfile of files to copy into the container"
        required: false
        schema:
          type: "string"
        x-exportParamName: "Request"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "no error"
        "400":
          description: "Bad parameter in request"
          schema:
            $ref: "#/definitions/inline_response_400"
        "403":
          description: "the container rootfs is read-only"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /containers/{name}/attach:
    post:
      tags:
      - "containers (compat)"
      summary: "Attach to a container"
      description: "Hijacks the connection to forward the container's standard streams\
        \ to the client."
      operationId: "attachContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "detachKeys"
        in: "query"
        description: "keys to use for detaching from the container"
        required: false
        type: "string"
        x-exportParamName: "DetachKeys"
        x-optionalDataType: "String"
      - name: "logs"
        in: "query"
        description: "Stream all logs from the container across the connection. Happens\
          \ before streaming attach (if requested). At least one of logs or stream\
          \ must be set"
        required: false
        type: "boolean"
        x-exportParamName: "Logs"
        x-optionalDataType: "Bool"
      - name: "stream"
        in: "query"
        description: "Attach to the container. If unset, and logs is set, only the\
          \ container's logs will be sent. At least one of stream or logs must be\
          \ set"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "Stream"
        x-optionalDataType: "Bool"
      - name: "stdout"
        in: "query"
        description: "Attach to container STDOUT"
        required: false
        type: "boolean"
        x-exportParamName: "Stdout"
        x-optionalDataType: "Bool"
      - name: "stderr"
        in: "query"
        description: "Attach to container STDERR"
        required: false
        type: "boolean"
        x-exportParamName: "Stderr"
        x-optionalDataType: "Bool"
      - name: "stdin"
        in: "query"
        description: "Attach to container STDIN"
        required: false
        type: "boolean"
        x-exportParamName: "Stdin"
        x-optionalDataType: "Bool"
      responses:
        "101":
          description: "No error, connection has been hijacked for transporting streams."
        "400":
          description: "Bad parameter in request"
          schema:
            $ref: "#/definitions/inline_response_400"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /containers/{name}/exec:
    post:
      tags:
      - "exec (compat)"
      summary: "Create an exec instance"
      description: "Create an exec session to run a command inside a running container.\
        \ Exec sessions will be automatically removed 5 minutes after they exit."
      operationId: "createExec"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "name of container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - in: "body"
        name: "control"
        description: "Attributes for create"
        required: false
        schema:
          $ref: "#/definitions/control"
        x-exportParamName: "Control"
      responses:
        "201":
          description: "no error"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "409":
          description: "container is paused"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /containers/{name}/export:
    get:
      tags:
      - "containers (compat)"
      summary: "Export a container"
      description: "Export the contents of a container as a tarball."
      operationId: "exportContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      responses:
        "200":
          description: "tarball is returned in body"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /containers/{name}/json:
    get:
      tags:
      - "containers (compat)"
      summary: "Inspect container"
      description: "Return low-level information about a container."
      operationId: "getContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or id of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "size"
        in: "query"
        description: "include the size of the container"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Size"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "Inspect container"
          schema:
            $ref: "#/definitions/inline_response_200_1"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /containers/{name}/kill:
    post:
      tags:
      - "containers (compat)"
      summary: "Kill container"
      description: "Signal to send to the container as an integer or string (e.g.\
        \ SIGINT)"
      operationId: "killContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "signal"
        in: "query"
        description: "signal to be sent to container"
        required: false
        type: "string"
        default: "SIGKILL"
        x-exportParamName: "Signal"
        x-optionalDataType: "String"
      responses:
        "204":
          description: "no error"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "409":
          description: "Conflict error in operation"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /containers/{name}/logs:
    get:
      tags:
      - "containers (compat)"
      summary: "Get container logs"
      description: "Get stdout and stderr logs from a container."
      operationId: "logsFromContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "follow"
        in: "query"
        description: "Keep connection after returning logs."
        required: false
        type: "boolean"
        x-exportParamName: "Follow"
        x-optionalDataType: "Bool"
      - name: "stdout"
        in: "query"
        description: "Return logs from stdout"
        required: false
        type: "boolean"
        x-exportParamName: "Stdout"
        x-optionalDataType: "Bool"
      - name: "stderr"
        in: "query"
        description: "Return logs from stderr"
        required: false
        type: "boolean"
        x-exportParamName: "Stderr"
        x-optionalDataType: "Bool"
      - name: "since"
        in: "query"
        description: "Only return logs since this time, as a UNIX timestamp"
        required: false
        type: "string"
        x-exportParamName: "Since"
        x-optionalDataType: "String"
      - name: "until"
        in: "query"
        description: "Only return logs before this time, as a UNIX timestamp"
        required: false
        type: "string"
        x-exportParamName: "Until"
        x-optionalDataType: "String"
      - name: "timestamps"
        in: "query"
        description: "Add timestamps to every log line"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Timestamps"
        x-optionalDataType: "Bool"
      - name: "tail"
        in: "query"
        description: "Only return this number of log lines from the end of the logs"
        required: false
        type: "string"
        default: "all"
        x-exportParamName: "Tail"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "logs returned as a stream in response body."
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /containers/{name}/pause:
    post:
      tags:
      - "containers (compat)"
      summary: "Pause container"
      description: "Use the cgroups freezer to suspend all processes in a container."
      operationId: "pauseContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      responses:
        "204":
          description: "no error"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /containers/{name}/resize:
    post:
      tags:
      - "containers (compat)"
      summary: "Resize a container's TTY"
      description: "Resize the terminal attached to a container (for use with Attach)."
      operationId: "resizeContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "h"
        in: "query"
        description: "Height to set for the terminal, in characters"
        required: false
        type: "integer"
        x-exportParamName: "H"
        x-optionalDataType: "Int32"
      - name: "w"
        in: "query"
        description: "Width to set for the terminal, in characters"
        required: false
        type: "integer"
        x-exportParamName: "W"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Success"
          schema:
            type: "object"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /containers/{name}/restart:
    post:
      tags:
      - "containers (compat)"
      summary: "Restart container"
      operationId: "restartContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "t"
        in: "query"
        description: "timeout before sending kill signal to container"
        required: false
        type: "integer"
        x-exportParamName: "T"
        x-optionalDataType: "Int32"
      responses:
        "204":
          description: "no error"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /containers/{name}/start:
    post:
      tags:
      - "containers (compat)"
      summary: "Start a container"
      operationId: "startContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "detachKeys"
        in: "query"
        description: "Override the key sequence for detaching a container. Format\
          \ is a single character [a-Z] or ctrl-<value> where <value> is one of: a-z,\
          \ @, ^, [, , or _."
        required: false
        type: "string"
        default: "ctrl-p,ctrl-q"
        x-exportParamName: "DetachKeys"
        x-optionalDataType: "String"
      responses:
        "204":
          description: "no error"
        "304":
          description: "Container already started"
          schema:
            $ref: "#/definitions/inline_response_400"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /containers/{name}/stats:
    get:
      tags:
      - "containers (compat)"
      summary: "Get stats for a container"
      description: "This returns a live stream of a container’s resource usage statistics."
      operationId: "statsContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "stream"
        in: "query"
        description: "Stream the output"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "Stream"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "OK"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /containers/{name}/stop:
    post:
      tags:
      - "containers (compat)"
      summary: "Stop a container"
      description: "Stop a container"
      operationId: "stopContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "t"
        in: "query"
        description: "number of seconds to wait before killing container"
        required: false
        type: "integer"
        x-exportParamName: "T"
        x-optionalDataType: "Int32"
      responses:
        "204":
          description: "no error"
        "304":
          description: "Container already stopped"
          schema:
            $ref: "#/definitions/inline_response_400"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /containers/{name}/top:
    get:
      tags:
      - "containers (compat)"
      summary: "List processes running inside a container"
      operationId: "topContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "ps_args"
        in: "query"
        description: "arguments to pass to ps such as aux. Requires ps(1) to be installed\
          \ in the container if no ps(1) compatible AIX descriptors are used."
        required: false
        type: "string"
        x-exportParamName: "PsArgs"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "List processes in container"
          schema:
            $ref: "#/definitions/inline_response_200_2"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /containers/{name}/unpause:
    post:
      tags:
      - "containers (compat)"
      summary: "Unpause container"
      description: "Resume a paused container"
      operationId: "unpauseContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      responses:
        "204":
          description: "no error"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /containers/{name}/wait:
    post:
      tags:
      - "containers (compat)"
      summary: "Wait on a container"
      description: "Block until a container stops or given condition is met."
      operationId: "waitContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "condition"
        in: "query"
        description: "wait until container is to a given condition. default is stopped.\
          \ valid conditions are:\n  - configured\n  - created\n  - exited\n  - paused\n\
          \  - running\n  - stopped\n"
        required: false
        type: "string"
        x-exportParamName: "Condition"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Wait container"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /containers/create:
    post:
      tags:
      - "containers (compat)"
      summary: "Create a container"
      operationId: "createContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "query"
        description: "container name"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      responses:
        "201":
          description: "Create container"
          schema:
            $ref: "#/definitions/inline_response_201"
        "400":
          description: "Bad parameter in request"
          schema:
            $ref: "#/definitions/inline_response_400"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "409":
          description: "Conflict error in operation"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /containers/json:
    get:
      tags:
      - "containers (compat)"
      summary: "List containers"
      description: "Returns a list of containers"
      operationId: "listContainers"
      produces:
      - "application/json"
      parameters:
      - name: "all"
        in: "query"
        description: "Return all containers. By default, only running containers are\
          \ shown"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "All"
        x-optionalDataType: "Bool"
      - name: "limit"
        in: "query"
        description: "Return this number of most recently created containers, including\
          \ non-running ones."
        required: false
        type: "integer"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "size"
        in: "query"
        description: "Return the size of container as fields SizeRw and SizeRootFs."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Size"
        x-optionalDataType: "Bool"
      - name: "filters"
        in: "query"
        description: "Returns a list of containers.\n - ancestor=(<image-name>[:<tag>],\
          \ <image id>, or <image@digest>)\n - before=(<container id> or <container\
          \ name>)\n - expose=(<port>[/<proto>]|<startport-endport>/[<proto>])\n -\
          \ exited=<int> containers with exit code of <int>\n - health=(starting|healthy|unhealthy|none)\n\
          \ - id=<ID> a container's ID\n - is-task=(true|false)\n - label=key or label=\"\
          key=value\" of a container label\n - name=<name> a container's name\n -\
          \ network=(<network id> or <network name>)\n - publish=(<port>[/<proto>]|<startport-endport>/[<proto>])\n\
          \ - since=(<container id> or <container name>)\n - status=(created|restarting|running|removing|paused|exited|dead)\n\
          \ - volume=(<volume name> or <mount point destination>)\n"
        required: false
        type: "string"
        x-exportParamName: "Filters"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "List Containers"
          schema:
            type: "object"
        "400":
          description: "Bad parameter in request"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /containers/prune:
    post:
      tags:
      - "containers (compat)"
      summary: "Delete stopped containers"
      description: "Remove containers not in use"
      operationId: "pruneContainers"
      produces:
      - "application/json"
      parameters:
      - name: "filters"
        in: "query"
        description: "Filters to process on the prune list, encoded as JSON (a `map[string][]string`).\
          \  Available filters:\n - `until=<timestamp>` Prune containers created before\
          \ this timestamp. The `<timestamp>` can be Unix timestamps, date formatted\
          \ timestamps, or Go duration strings (e.g. `10m`, `1h30m`) computed relative\
          \ to the daemon machine’s time.\n - `label` (`label=<key>`, `label=<key>=<value>`,\
          \ `label!=<key>`, or `label!=<key>=<value>`) Prune containers with (or without,\
          \ in case `label!=...` is used) the specified labels.\n"
        required: false
        type: "string"
        x-exportParamName: "Filters"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Prune containers"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ContainersPruneReport"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /events:
    get:
      tags:
      - "system (compat)"
      summary: "Get events"
      description: "Returns events filtered on query parameters"
      operationId: "getEvents"
      produces:
      - "application/json"
      parameters:
      - name: "since"
        in: "query"
        description: "start streaming events from this time"
        required: false
        type: "string"
        x-exportParamName: "Since"
        x-optionalDataType: "String"
      - name: "until"
        in: "query"
        description: "stop streaming events later than this"
        required: false
        type: "string"
        x-exportParamName: "Until"
        x-optionalDataType: "String"
      - name: "filters"
        in: "query"
        description: "JSON encoded map[string][]string of constraints"
        required: false
        type: "string"
        x-exportParamName: "Filters"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "returns a string of json data describing an event"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /exec/{id}/json:
    get:
      tags:
      - "exec (compat)"
      summary: "Inspect an exec instance"
      description: "Return low-level information about an exec instance."
      operationId: "inspectExec"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "Exec instance ID"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "no error"
        "404":
          description: "No such exec instance"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /exec/{id}/resize:
    post:
      tags:
      - "exec (compat)"
      summary: "Resize an exec instance"
      description: "Resize the TTY session used by an exec instance. This endpoint\
        \ only works if tty was specified as part of creating and starting the exec\
        \ instance.\n"
      operationId: "resizeExec"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "Exec instance ID"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "h"
        in: "query"
        description: "Height of the TTY session in characters"
        required: false
        type: "integer"
        x-exportParamName: "H"
        x-optionalDataType: "Int32"
      - name: "w"
        in: "query"
        description: "Width of the TTY session in characters"
        required: false
        type: "integer"
        x-exportParamName: "W"
        x-optionalDataType: "Int32"
      responses:
        "201":
          description: "no error"
        "404":
          description: "No such exec instance"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /exec/{id}/start:
    post:
      tags:
      - "exec (compat)"
      summary: "Start an exec instance"
      description: "Starts a previously set up exec instance. If detach is true, this\
        \ endpoint returns immediately after starting the command. Otherwise, it sets\
        \ up an interactive session with the command."
      operationId: "startExec"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "Exec instance ID"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "control"
        description: "Attributes for start"
        required: false
        schema:
          $ref: "#/definitions/control_1"
        x-exportParamName: "Control"
      responses:
        "200":
          description: "no error"
        "404":
          description: "No such exec instance"
          schema:
            $ref: "#/definitions/inline_response_400"
        "409":
          description: "container is not running"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /images/{name:.*}:
    delete:
      tags:
      - "images (compat)"
      summary: "Remove Image"
      description: "Delete an image from local storage"
      operationId: "removeImage"
      produces:
      - "application/json"
      parameters:
      - name: "name:.*"
        in: "path"
        description: "name or ID of image to delete"
        required: true
        type: "string"
        x-exportParamName: "Name_"
      - name: "force"
        in: "query"
        description: "remove the image even if used by containers or has other tags"
        required: false
        type: "boolean"
        x-exportParamName: "Force"
        x-optionalDataType: "Bool"
      - name: "noprune"
        in: "query"
        description: "not supported. will be logged as an invalid parameter if enabled"
        required: false
        type: "boolean"
        x-exportParamName: "Noprune"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "Delete response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ImageDeleteResponse"
        "404":
          description: "No such image"
          schema:
            $ref: "#/definitions/inline_response_400"
        "409":
          description: "Conflict error in operation"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /images/{name:.*}/get:
    get:
      tags:
      - "images (compat)"
      summary: "Export an image"
      description: "Export an image in tarball format"
      operationId: "exportImage"
      produces:
      - "application/json"
      parameters:
      - name: "name:.*"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name_"
      responses:
        "200":
          description: "no error"
          schema:
            type: "string"
            format: "binary"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /images/{name:.*}/history:
    get:
      tags:
      - "images (compat)"
      summary: "History of an image"
      description: "Return parent layers of an image."
      operationId: "imageHistory"
      produces:
      - "application/json"
      parameters:
      - name: "name:.*"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name_"
      responses:
        "200":
          description: "History response"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        "404":
          description: "No such image"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /images/{name:.*}/json:
    get:
      tags:
      - "images (compat)"
      summary: "Inspect an image"
      description: "Return low-level information about an image."
      operationId: "inspectImage"
      produces:
      - "application/json"
      parameters:
      - name: "name:.*"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name_"
      responses:
        "200":
          description: "Inspect response"
          schema:
            $ref: "#/definitions/inline_response_200_5"
        "404":
          description: "No such image"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /images/{name:.*}/push:
    post:
      tags:
      - "images (compat)"
      summary: "Push Image"
      description: "Push an image to a container registry"
      operationId: "pushImage"
      produces:
      - "application/json"
      parameters:
      - name: "name:.*"
        in: "path"
        description: "Name of image to push."
        required: true
        type: "string"
        x-exportParamName: "Name_"
      - name: "tag"
        in: "query"
        description: "The tag to associate with the image on the registry."
        required: false
        type: "string"
        x-exportParamName: "Tag"
        x-optionalDataType: "String"
      - name: "X-Registry-Auth"
        in: "header"
        description: "A base64-encoded auth configuration."
        required: false
        type: "string"
        x-exportParamName: "XRegistryAuth"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "no error"
          schema:
            type: "string"
            format: "binary"
        "404":
          description: "No such image"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /images/{name:.*}/tag:
    post:
      tags:
      - "images (compat)"
      summary: "Tag an image"
      description: "Tag an image so that it becomes part of a repository."
      operationId: "tagImage"
      produces:
      - "application/json"
      parameters:
      - name: "name:.*"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name_"
      - name: "repo"
        in: "query"
        description: "the repository to tag in"
        required: false
        type: "string"
        x-exportParamName: "Repo"
        x-optionalDataType: "String"
      - name: "tag"
        in: "query"
        description: "the name of the new tag"
        required: false
        type: "string"
        x-exportParamName: "Tag"
        x-optionalDataType: "String"
      responses:
        "201":
          description: "no error"
        "400":
          description: "Bad parameter in request"
          schema:
            $ref: "#/definitions/inline_response_400"
        "404":
          description: "No such image"
          schema:
            $ref: "#/definitions/inline_response_400"
        "409":
          description: "Conflict error in operation"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /images/create:
    post:
      tags:
      - "images (compat)"
      summary: "Create an image"
      description: "Create an image by either pulling it from a registry or importing\
        \ it."
      operationId: "createImage"
      produces:
      - "application/json"
      parameters:
      - name: "fromImage"
        in: "query"
        description: "needs description"
        required: false
        type: "string"
        x-exportParamName: "FromImage"
        x-optionalDataType: "String"
      - name: "fromSrc"
        in: "query"
        description: "needs description"
        required: false
        type: "string"
        x-exportParamName: "FromSrc"
        x-optionalDataType: "String"
      - name: "tag"
        in: "query"
        description: "needs description"
        required: false
        type: "string"
        x-exportParamName: "Tag"
        x-optionalDataType: "String"
      - name: "X-Registry-Auth"
        in: "header"
        description: "A base64-encoded auth configuration."
        required: false
        type: "string"
        x-exportParamName: "XRegistryAuth"
        x-optionalDataType: "String"
      - in: "body"
        name: "request"
        description: "Image content if fromSrc parameter was used"
        required: false
        schema:
          type: "string"
        x-exportParamName: "Request"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Success"
          schema:
            type: "object"
        "404":
          description: "No such image"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /images/json:
    get:
      tags:
      - "images (compat)"
      summary: "List Images"
      description: "Returns a list of images on the server. Note that it uses a different,\
        \ smaller representation of an image than inspecting a single image."
      operationId: "listImages"
      produces:
      - "application/json"
      parameters:
      - name: "all"
        in: "query"
        description: "Show all images. Only images from a final layer (no children)\
          \ are shown by default."
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "All"
        x-optionalDataType: "Bool"
      - name: "filters"
        in: "query"
        description: "A JSON encoded value of the filters (a `map[string][]string`)\
          \ to process on the images list. Available filters:\n- `before`=(`<image-name>[:<tag>]`,\
          \  `<image id>` or `<image@digest>`)\n- `dangling=true`\n- `label=key` or\
          \ `label=\"key=value\"` of an image label\n- `reference`=(`<image-name>[:<tag>]`)\n\
          - `since`=(`<image-name>[:<tag>]`,  `<image id>` or `<image@digest>`)\n"
        required: false
        type: "string"
        x-exportParamName: "Filters"
        x-optionalDataType: "String"
      - name: "digests"
        in: "query"
        description: "Not supported"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Digests"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "Image summary"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ImageSummary"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /images/load:
    post:
      tags:
      - "images (compat)"
      summary: "Import image"
      description: "Load a set of images and tags into a repository."
      operationId: "importImage"
      produces:
      - "application/json"
      parameters:
      - name: "quiet"
        in: "query"
        description: "not supported"
        required: false
        type: "boolean"
        x-exportParamName: "Quiet"
        x-optionalDataType: "Bool"
      - in: "body"
        name: "request"
        description: "tarball of container image"
        required: false
        schema:
          type: "string"
        x-exportParamName: "Request"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "no error"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /images/prune:
    post:
      tags:
      - "images (compat)"
      summary: "Prune unused images"
      description: "Remove images from local storage that are not being used by a\
        \ container"
      operationId: "pruneImages"
      produces:
      - "application/json"
      parameters:
      - name: "filters"
        in: "query"
        description: "filters to apply to image pruning, encoded as JSON (map[string][]string).\
          \ Available filters:\n  - `dangling=<boolean>` When set to `true` (or `1`),\
          \ prune only\n     unused *and* untagged images. When set to `false`\n \
          \    (or `0`), all unused images are pruned.\n  - `until=<string>` Prune\
          \ images created before this timestamp. The `<timestamp>` can be Unix timestamps,\
          \ date formatted timestamps, or Go duration strings (e.g. `10m`, `1h30m`)\
          \ computed relative to the daemon machine’s time.\n  - `label` (`label=<key>`,\
          \ `label=<key>=<value>`, `label!=<key>`, or `label!=<key>=<value>`) Prune\
          \ images with (or without, in case `label!=...` is used) the specified labels.\n"
        required: false
        type: "string"
        x-exportParamName: "Filters"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Delete response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ImageDeleteResponse"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /images/search:
    get:
      tags:
      - "images (compat)"
      summary: "Search images"
      description: "Search registries for an image"
      operationId: "searchImages"
      produces:
      - "application/json"
      parameters:
      - name: "term"
        in: "query"
        description: "term to search"
        required: false
        type: "string"
        x-exportParamName: "Term"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "maximum number of results"
        required: false
        type: "integer"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "filters"
        in: "query"
        description: "A JSON encoded value of the filters (a `map[string][]string`)\
          \ to process on the images list. Available filters:\n- `is-automated=(true|false)`\n\
          - `is-official=(true|false)`\n- `stars=<number>` Matches images that has\
          \ at least 'number' stars.\n"
        required: false
        type: "string"
        x-exportParamName: "Filters"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Search results"
          schema:
            $ref: "#/definitions/inline_response_200_6"
        "400":
          description: "Bad parameter in request"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /info:
    get:
      tags:
      - "system (compat)"
      summary: "Get info"
      description: "Returns information on the system and libpod configuration"
      operationId: "getInfo"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "to be determined"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /libpod/_ping:
    get:
      tags:
      - "system (compat)"
      - "system"
      summary: "Ping service"
      description: "Return protocol information in response headers.\n`HEAD /libpod/_ping`\
        \ is also supported.\n`/_ping` is available for compatibility with other engines.\n\
        The '_ping' endpoints are not versioned.\n"
      operationId: "libpodPingGet"
      produces:
      - "text/plain"
      parameters: []
      responses:
        "200":
          description: "Success"
          headers:
            API-Version:
              type: "string"
              description: "Max compatibility API Version the server supports"
            BuildKit-Version:
              type: "string"
              description: "Default version of docker image builder"
            Cache-Control:
              type: "string"
              description: "always no-cache"
            Docker-Experimental:
              type: "boolean"
              description: "If the server is running with experimental mode enabled,\
                \ always true"
            Libpod-API-Version:
              type: "string"
              description: "Max Podman API Version the server supports.\nAvailable\
                \ if service is backed by Podman, therefore may be used to\ndetermine\
                \ if talking to Podman engine or another engine\n"
            Libpod-Buildha-Version:
              type: "string"
              description: "Default version of libpod image builder.\n  Available\
                \ if service is backed by Podman, therefore may be used to\n  determine\
                \ if talking to Podman engine or another engine\n"
            Pragma:
              type: "string"
              description: "always no-cache"
          schema:
            type: "string"
            description: "OK"
            example: "OK"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /libpod/build:
    post:
      tags:
      - "images"
      summary: "Create image"
      description: "Build an image from the given Dockerfile(s)"
      operationId: "libpodBuildImage"
      produces:
      - "application/json"
      parameters:
      - name: "dockerfile"
        in: "query"
        description: "Path within the build context to the `Dockerfile`.\nThis is\
          \ ignored if remote is specified and points to an external `Dockerfile`.\n"
        required: false
        type: "string"
        default: "Dockerfile"
        x-exportParamName: "Dockerfile"
        x-optionalDataType: "String"
      - name: "t"
        in: "query"
        description: "A name and optional tag to apply to the image in the `name:tag`\
          \ format.  If you omit the tag the default latest value is assumed. You\
          \ can provide several t parameters."
        required: false
        type: "string"
        default: "latest"
        x-exportParamName: "T"
        x-optionalDataType: "String"
      - name: "extrahosts"
        in: "query"
        description: "TBD Extra hosts to add to /etc/hosts\n(As of version 1.xx)\n"
        required: false
        type: "string"
        x-exportParamName: "Extrahosts"
        x-optionalDataType: "String"
      - name: "remote"
        in: "query"
        description: "A Git repository URI or HTTP/HTTPS context URI.\nIf the URI\
          \ points to a single text file, the file’s contents are placed\ninto a file\
          \ called Dockerfile and the image is built from that file. If\nthe URI points\
          \ to a tarball, the file is downloaded by the daemon and the\ncontents therein\
          \ used as the context for the build. If the URI points to a\ntarball and\
          \ the dockerfile parameter is also specified, there must be a file\nwith\
          \ the corresponding path inside the tarball.\n(As of version 1.xx)\n"
        required: false
        type: "string"
        x-exportParamName: "Remote"
        x-optionalDataType: "String"
      - name: "q"
        in: "query"
        description: "Suppress verbose build output\n"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Q"
        x-optionalDataType: "Bool"
      - name: "nocache"
        in: "query"
        description: "Do not use the cache when building the image\n(As of version\
          \ 1.xx)\n"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Nocache"
        x-optionalDataType: "Bool"
      - name: "cachefrom"
        in: "query"
        description: "JSON array of images used to build cache resolution\n(As of\
          \ version 1.xx)\n"
        required: false
        type: "string"
        x-exportParamName: "Cachefrom"
        x-optionalDataType: "String"
      - name: "pull"
        in: "query"
        description: "Attempt to pull the image even if an older image exists locally\n\
          (As of version 1.xx)\n"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Pull"
        x-optionalDataType: "Bool"
      - name: "rm"
        in: "query"
        description: "Remove intermediate containers after a successful build\n(As\
          \ of version 1.xx)\n"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "Rm"
        x-optionalDataType: "Bool"
      - name: "forcerm"
        in: "query"
        description: "Always remove intermediate containers, even upon failure\n(As\
          \ of version 1.xx)\n"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Forcerm"
        x-optionalDataType: "Bool"
      - name: "memory"
        in: "query"
        description: "Memory is the upper limit (in bytes) on how much memory running\
          \ containers can use\n(As of version 1.xx)\n"
        required: false
        type: "integer"
        x-exportParamName: "Memory"
        x-optionalDataType: "Int32"
      - name: "memswap"
        in: "query"
        description: "MemorySwap limits the amount of memory and swap together\n(As\
          \ of version 1.xx)\n"
        required: false
        type: "integer"
        x-exportParamName: "Memswap"
        x-optionalDataType: "Int32"
      - name: "cpushares"
        in: "query"
        description: "CPUShares (relative weight\n(As of version 1.xx)\n"
        required: false
        type: "integer"
        x-exportParamName: "Cpushares"
        x-optionalDataType: "Int32"
      - name: "cpusetcpus"
        in: "query"
        description: "CPUSetCPUs in which to allow execution (0-3, 0,1)\n(As of version\
          \ 1.xx)\n"
        required: false
        type: "string"
        x-exportParamName: "Cpusetcpus"
        x-optionalDataType: "String"
      - name: "cpuperiod"
        in: "query"
        description: "CPUPeriod limits the CPU CFS (Completely Fair Scheduler) period\n\
          (As of version 1.xx)\n"
        required: false
        type: "integer"
        x-exportParamName: "Cpuperiod"
        x-optionalDataType: "Int32"
      - name: "cpuquota"
        in: "query"
        description: "CPUQuota limits the CPU CFS (Completely Fair Scheduler) quota\n\
          (As of version 1.xx)\n"
        required: false
        type: "integer"
        x-exportParamName: "Cpuquota"
        x-optionalDataType: "Int32"
      - name: "buildargs"
        in: "query"
        description: "JSON map of string pairs denoting build-time variables.\nFor\
          \ example, the build argument `Foo` with the value of `bar` would be encoded\
          \ in JSON as `[\"Foo\":\"bar\"]`.\n\nFor example, buildargs={\"Foo\":\"\
          bar\"}.\n\nNote(s):\n* This should not be used to pass secrets.\n* The value\
          \ of buildargs should be URI component encoded before being passed to the\
          \ API.\n\n(As of version 1.xx)\n"
        required: false
        type: "string"
        x-exportParamName: "Buildargs"
        x-optionalDataType: "String"
      - name: "shmsize"
        in: "query"
        description: "ShmSize is the \"size\" value to use when mounting an shmfs\
          \ on the container's /dev/shm directory.\nDefault is 64MB\n(As of version\
          \ 1.xx)\n"
        required: false
        type: "integer"
        default: 67108864
        x-exportParamName: "Shmsize"
        x-optionalDataType: "Int32"
      - name: "squash"
        in: "query"
        description: "Silently ignored.\nSquash the resulting images layers into a\
          \ single layer\n(As of version 1.xx)\n"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Squash"
        x-optionalDataType: "Bool"
      - name: "labels"
        in: "query"
        description: "JSON map of key, value pairs to set as labels on the new image\n\
          (As of version 1.xx)\n"
        required: false
        type: "string"
        x-exportParamName: "Labels"
        x-optionalDataType: "String"
      - name: "networkmode"
        in: "query"
        description: "Sets the networking mode for the run commands during build.\n\
          Supported standard values are:\n  * `bridge` limited to containers within\
          \ a single host, port mapping required for external access\n  * `host` no\
          \ isolation between host and containers on this network\n  * `none` disable\
          \ all networking for this container\n  * container:<nameOrID> share networking\
          \ with given container\n  ---All other values are assumed to be a custom\
          \ network's name\n(As of version 1.xx)\n"
        required: false
        type: "string"
        default: "bridge"
        x-exportParamName: "Networkmode"
        x-optionalDataType: "String"
      - name: "platform"
        in: "query"
        description: "Platform format os[/arch[/variant]]\n(As of version 1.xx)\n"
        required: false
        type: "string"
        x-exportParamName: "Platform"
        x-optionalDataType: "String"
      - name: "target"
        in: "query"
        description: "Target build stage\n(As of version 1.xx)\n"
        required: false
        type: "string"
        x-exportParamName: "Target"
        x-optionalDataType: "String"
      - name: "outputs"
        in: "query"
        description: "output configuration TBD\n(As of version 1.xx)\n"
        required: false
        type: "string"
        x-exportParamName: "Outputs"
        x-optionalDataType: "String"
      - name: "httpproxy"
        in: "query"
        description: "Inject http proxy environment variables into container\n(As\
          \ of version 2.0.0)\n"
        required: false
        type: "boolean"
        x-exportParamName: "Httpproxy"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "OK (As of version 1.xx)"
          schema:
            $ref: "#/definitions/inline_response_200"
        "400":
          description: "Bad parameter in request"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /libpod/commit:
    post:
      tags:
      - "containers"
      summary: "Commit"
      description: "Create a new image from a container"
      operationId: "libpodCommitContainer"
      produces:
      - "application/json"
      parameters:
      - name: "container"
        in: "query"
        description: "the name or ID of a container"
        required: true
        type: "string"
        x-exportParamName: "Container"
      - name: "repo"
        in: "query"
        description: "the repository name for the created image"
        required: false
        type: "string"
        x-exportParamName: "Repo"
        x-optionalDataType: "String"
      - name: "tag"
        in: "query"
        description: "tag name for the created image"
        required: false
        type: "string"
        x-exportParamName: "Tag"
        x-optionalDataType: "String"
      - name: "comment"
        in: "query"
        description: "commit message"
        required: false
        type: "string"
        x-exportParamName: "Comment"
        x-optionalDataType: "String"
      - name: "author"
        in: "query"
        description: "author of the image"
        required: false
        type: "string"
        x-exportParamName: "Author"
        x-optionalDataType: "String"
      - name: "pause"
        in: "query"
        description: "pause the container before committing it"
        required: false
        type: "boolean"
        x-exportParamName: "Pause"
        x-optionalDataType: "Bool"
      - name: "changes"
        in: "query"
        description: "instructions to apply while committing in Dockerfile format\
          \ (i.e. \"CMD=/bin/foo\")"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Changes"
      - name: "format"
        in: "query"
        description: "format of the image manifest and metadata (default \"oci\")"
        required: false
        type: "string"
        x-exportParamName: "Format"
        x-optionalDataType: "String"
      responses:
        "201":
          description: "no error"
        "404":
          description: "No such image"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /libpod/containers/{name:.*}/healthcheck:
    get:
      tags:
      - "containers"
      summary: "Run a container's healthcheck"
      description: "Execute the defined healthcheck and return information about the\
        \ results"
      operationId: "libpodRunHealthCheck"
      produces:
      - "application/json"
      parameters:
      - name: "name:.*"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name_"
      responses:
        "200":
          description: "Healthcheck"
          schema:
            $ref: "#/definitions/inline_response_200_7"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "409":
          description: "container has no healthcheck or is not running"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /libpod/containers/{name}:
    delete:
      tags:
      - "containers"
      summary: "Delete container"
      description: "Delete container"
      operationId: "libpodRemoveContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "force"
        in: "query"
        description: "need something"
        required: false
        type: "boolean"
        x-exportParamName: "Force"
        x-optionalDataType: "Bool"
      - name: "v"
        in: "query"
        description: "delete volumes"
        required: false
        type: "boolean"
        x-exportParamName: "V"
        x-optionalDataType: "Bool"
      responses:
        "204":
          description: "no error"
        "400":
          description: "Bad parameter in request"
          schema:
            $ref: "#/definitions/inline_response_400"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "409":
          description: "Conflict error in operation"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /libpod/containers/{name}/attach:
    post:
      tags:
      - "containers"
      summary: "Attach to a container"
      description: "Hijacks the connection to forward the container's standard streams\
        \ to the client."
      operationId: "libpodAttachContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "detachKeys"
        in: "query"
        description: "keys to use for detaching from the container"
        required: false
        type: "string"
        x-exportParamName: "DetachKeys"
        x-optionalDataType: "String"
      - name: "logs"
        in: "query"
        description: "Stream all logs from the container across the connection. Happens\
          \ before streaming attach (if requested). At least one of logs or stream\
          \ must be set"
        required: false
        type: "boolean"
        x-exportParamName: "Logs"
        x-optionalDataType: "Bool"
      - name: "stream"
        in: "query"
        description: "Attach to the container. If unset, and logs is set, only the\
          \ container's logs will be sent. At least one of stream or logs must be\
          \ set"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "Stream"
        x-optionalDataType: "Bool"
      - name: "stdout"
        in: "query"
        description: "Attach to container STDOUT"
        required: false
        type: "boolean"
        x-exportParamName: "Stdout"
        x-optionalDataType: "Bool"
      - name: "stderr"
        in: "query"
        description: "Attach to container STDERR"
        required: false
        type: "boolean"
        x-exportParamName: "Stderr"
        x-optionalDataType: "Bool"
      - name: "stdin"
        in: "query"
        description: "Attach to container STDIN"
        required: false
        type: "boolean"
        x-exportParamName: "Stdin"
        x-optionalDataType: "Bool"
      responses:
        "101":
          description: "No error, connection has been hijacked for transporting streams."
        "400":
          description: "Bad parameter in request"
          schema:
            $ref: "#/definitions/inline_response_400"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /libpod/containers/{name}/changes:
    get:
      tags:
      - "containers"
      - "containers (compat)"
      summary: "Report on changes to container's filesystem; adds, deletes or modifications."
      description: "Returns which files in a container's filesystem have been added,\
        \ deleted, or modified. The Kind of modification can be one of:\n\n0: Modified\n\
        1: Added\n2: Deleted\n"
      operationId: "changesContainer"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or id of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      responses:
        "200":
          description: "Array of Changes"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /libpod/containers/{name}/checkpoint:
    post:
      tags:
      - "containers"
      summary: "Checkpoint a container"
      operationId: "libpodCheckpointContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "keep"
        in: "query"
        description: "keep all temporary checkpoint files"
        required: false
        type: "boolean"
        x-exportParamName: "Keep"
        x-optionalDataType: "Bool"
      - name: "leaveRunning"
        in: "query"
        description: "leave the container running after writing checkpoint to disk"
        required: false
        type: "boolean"
        x-exportParamName: "LeaveRunning"
        x-optionalDataType: "Bool"
      - name: "tcpEstablished"
        in: "query"
        description: "checkpoint a container with established TCP connections"
        required: false
        type: "boolean"
        x-exportParamName: "TcpEstablished"
        x-optionalDataType: "Bool"
      - name: "export"
        in: "query"
        description: "export the checkpoint image to a tar.gz"
        required: false
        type: "boolean"
        x-exportParamName: "Export"
        x-optionalDataType: "Bool"
      - name: "ignoreRootFS"
        in: "query"
        description: "do not include root file-system changes when exporting"
        required: false
        type: "boolean"
        x-exportParamName: "IgnoreRootFS"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "tarball is returned in body if exported"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /libpod/containers/{name}/copy:
    get:
      tags:
      - "containers (compat)"
      summary: "Copy files from a container"
      description: "Copy a tar archive of files from a container"
      operationId: "libpodGetArchive"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "container name or id"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "path"
        in: "query"
        description: "Path to a directory in the container to extract"
        required: true
        type: "string"
        x-exportParamName: "Path"
      responses:
        "200":
          description: "no error"
          schema:
            type: "string"
            format: "binary"
        "400":
          description: "Bad parameter in request"
          schema:
            $ref: "#/definitions/inline_response_400"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
    post:
      tags:
      - "containers"
      summary: "Copy files into a container"
      description: "Copy a tar archive of files into a container"
      operationId: "libpodPutArchive"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "container name or id"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "path"
        in: "query"
        description: "Path to a directory in the container to extract"
        required: true
        type: "string"
        x-exportParamName: "Path"
      - name: "pause"
        in: "query"
        description: "pause the container while copying (defaults to true)"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "Pause"
        x-optionalDataType: "Bool"
      - in: "body"
        name: "request"
        description: "tarfile of files to copy into the container"
        required: false
        schema:
          type: "string"
        x-exportParamName: "Request"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "no error"
        "400":
          description: "Bad parameter in request"
          schema:
            $ref: "#/definitions/inline_response_400"
        "403":
          description: "the container rootfs is read-only"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /libpod/containers/{name}/exec:
    post:
      tags:
      - "exec"
      summary: "Create an exec instance"
      description: "Create an exec session to run a command inside a running container.\
        \ Exec sessions will be automatically removed 5 minutes after they exit."
      operationId: "libpodCreateExec"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "name of container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - in: "body"
        name: "control"
        description: "Attributes for create"
        required: false
        schema:
          $ref: "#/definitions/control_2"
        x-exportParamName: "Control"
      responses:
        "201":
          description: "no error"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "409":
          description: "container is paused"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /libpod/containers/{name}/exists:
    get:
      tags:
      - "containers"
      summary: "Check if container exists"
      description: "Quick way to determine if a container exists by name or ID"
      operationId: "libpodContainerExists"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      responses:
        "204":
          description: "container exists"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /libpod/containers/{name}/export:
    get:
      tags:
      - "containers"
      summary: "Export a container"
      description: "Export the contents of a container as a tarball."
      operationId: "libpodExportContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      responses:
        "200":
          description: "tarball is returned in body"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /libpod/containers/{name}/init:
    post:
      tags:
      - "containers"
      summary: "Initialize a container"
      description: "Performs all tasks necessary for initializing the container but\
        \ does not start the container."
      operationId: "libpodInitContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      responses:
        "204":
          description: "no error"
        "304":
          description: "container already initialized"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /libpod/containers/{name}/json:
    get:
      tags:
      - "containers"
      summary: "Inspect container"
      description: "Return low-level information about a container."
      operationId: "libpodGetContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "size"
        in: "query"
        description: "display filesystem usage"
        required: false
        type: "boolean"
        x-exportParamName: "Size"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "Inspect container"
          schema:
            $ref: "#/definitions/inline_response_200_8"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /libpod/containers/{name}/kill:
    post:
      tags:
      - "containers"
      summary: "Kill container"
      description: "send a signal to a container, defaults to killing the container"
      operationId: "libpodKillContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "signal"
        in: "query"
        description: "signal to be sent to container, either by integer or SIG_ name"
        required: false
        type: "string"
        default: "TERM"
        x-exportParamName: "Signal"
        x-optionalDataType: "String"
      responses:
        "204":
          description: "no error"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "409":
          description: "Conflict error in operation"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /libpod/containers/{name}/logs:
    get:
      tags:
      - "containers"
      summary: "Get container logs"
      description: "Get stdout and stderr logs from a container."
      operationId: "libpodLogsFromContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "follow"
        in: "query"
        description: "Keep connection after returning logs."
        required: false
        type: "boolean"
        x-exportParamName: "Follow"
        x-optionalDataType: "Bool"
      - name: "stdout"
        in: "query"
        description: "Return logs from stdout"
        required: false
        type: "boolean"
        x-exportParamName: "Stdout"
        x-optionalDataType: "Bool"
      - name: "stderr"
        in: "query"
        description: "Return logs from stderr"
        required: false
        type: "boolean"
        x-exportParamName: "Stderr"
        x-optionalDataType: "Bool"
      - name: "since"
        in: "query"
        description: "Only return logs since this time, as a UNIX timestamp"
        required: false
        type: "string"
        x-exportParamName: "Since"
        x-optionalDataType: "String"
      - name: "until"
        in: "query"
        description: "Only return logs before this time, as a UNIX timestamp"
        required: false
        type: "string"
        x-exportParamName: "Until"
        x-optionalDataType: "String"
      - name: "timestamps"
        in: "query"
        description: "Add timestamps to every log line"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Timestamps"
        x-optionalDataType: "Bool"
      - name: "tail"
        in: "query"
        description: "Only return this number of log lines from the end of the logs"
        required: false
        type: "string"
        default: "all"
        x-exportParamName: "Tail"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "logs returned as a stream in response body."
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /libpod/containers/{name}/mount:
    post:
      tags:
      - "containers"
      summary: "Mount a container"
      description: "Mount a container to the filesystem"
      operationId: "libpodMountContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      responses:
        "200":
          description: "mounted container"
          schema:
            type: "string"
            description: "id"
            example: "/var/lib/containers/storage/overlay/f3f693bd88872a1e3193f4ebb925f4c282e8e73aadb8ab3e7492754dda3a02a4/merged"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /libpod/containers/{name}/pause:
    post:
      tags:
      - "containers"
      summary: "Pause a container"
      description: "Use the cgroups freezer to suspend all processes in a container."
      operationId: "libpodPauseContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      responses:
        "204":
          description: "no error"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /libpod/containers/{name}/resize:
    post:
      tags:
      - "containers"
      summary: "Resize a container's TTY"
      description: "Resize the terminal attached to a container (for use with Attach)."
      operationId: "libpodResizeContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "h"
        in: "query"
        description: "Height to set for the terminal, in characters"
        required: false
        type: "integer"
        x-exportParamName: "H"
        x-optionalDataType: "Int32"
      - name: "w"
        in: "query"
        description: "Width to set for the terminal, in characters"
        required: false
        type: "integer"
        x-exportParamName: "W"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Success"
          schema:
            type: "object"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /libpod/containers/{name}/restart:
    post:
      tags:
      - "containers"
      summary: "Restart a container"
      operationId: "libpodRestartContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or ID of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "t"
        in: "query"
        description: "timeout before sending kill signal to container"
        required: false
        type: "integer"
        x-exportParamName: "T"
        x-optionalDataType: "Int32"
      responses:
        "204":
          description: "no error"
        "404":
          description: "No such container"
          schema:
            $ref: "#/definitions/inline_response_400"
        "500":
          description: "Internal server error"
          schema:
            $ref: "#/definitions/inline_response_400"
  /libpod/containers/{name}/restore:
    post:
      tags:
      - "containers"
      summary: "Restore a container"
      description: "Restore a container from a checkpoint."
      operationId: "libpodRestoreContainer"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "the name or id of the container"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "name"
        in: "query"
        description: "the name of the container when restored from a tar. can only\
          \ be used with import"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "keep"
        in: "query"
        description: "keep all temporary checkpoint files"
        required: false
        type: "boolean"
        x-exportParamName: "Keep"
        x-optionalDataType: "Bool"
      - name: "leaveRunning"
        in: "query"
        description: "leave the container running after writing checkpoint to disk"
        required: false
        type: "boolean"
[...]
